.PokemonCard {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}

.PokemonCard-Image {
  width: 96px;
  height: 96px;
}

.PokemonCard-Caption {
  background-color: #EEE;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

.PokemonCard-ID {
  color: #818181;
}

.PokemonCard-Name {
  color: #2B6CBF;

  &::first-letter {
    text-transform: uppercase;
  }
}

.PokemonCard-Types {
  text-transform: uppercase;
}
