.Pokemon {
  min-height: 100vh;
  padding: 50px;
  box-sizing: border-box;
}

.Pokemon-Body {
  background: white;
  max-width: 800px;
  min-height: calc(100vh - 100px);
  margin: auto;
}

.Pokemon-RegularSection {
  margin: 20px 10px;
}
