.Pokemon {
  min-height: 100vh;
  padding: 50px;
  box-sizing: border-box;

  h2 {
    background: red;
    color: white;
    padding: 5px 10px;
    margin: 20px 10px;
  }
}

.Pokemon-Body {
  background: white;
  max-width: 800px;
  min-height: calc(100vh - 100px);
  margin: auto;
}

.Pokemon-Name {
  background: red;
  color: white;
  margin: 0;
  text-align: center;
  padding: 10px;

  &::first-letter {
    text-transform: capitalize;
  }
}

.Pokemon-Section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 30px;
}

.Pokemon-Badge {
  &::first-letter {
    text-transform: capitalize;
  }

  &:not(:first-child) {
    margin-left: 5px;
  }
}

.Pokemon-MainInfo {
  flex-basis: 45%;
}

.Pokemon-TypesAndId {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  margin-bottom: 10px;
}

.Pokemon-Id {
  font-weight: bold;
  font-size: 1.5em;

  &::before {
    content: '#'
  }
}

.Pokemon-Stat {
  display: flex;
  justify-content: space-between;
}

.Pokemon-StatName {
  text-transform: uppercase;
}
