.AllPokemons {
  max-width: 950px;
  margin: auto;
}

.AllPokemons-List {
  display: flex;
  flex-wrap: wrap;
}

.AllPokemons-Nav {
  text-align: center;
}

.AllPokemons-PokemonLink {
  margin: 15px;

  &:hover {
    opacity: .8;
  }

  &:active {
    opacity: 1;
  }
}
